<div ng-controller="CreditController">
	<nav>
		<span ng-click=viewCreds()>
			View Incoming Payments
		</span>
		 | 
		<span ng-click=viewDebs()>
			View Outgoing Payments
		</span>
		 | 
		<span ng-click=viewSummary()>
			View Account Summary
		</span>
		|
		<span class=logout ng-click=logout()>
			Logout
		</span>

	</nav>
	<br>
	<table>
		<tr ng-repeat="cred in allCredits">
			<td>
				{{ cred.title }}
			</td>
			<td>
				${{ cred.ammount }}
			</td>
		</tr>
		<tr>
			<td>
				Total Incoming Payments:
			</td>
			<td>
				${{ totalCreds }}
			</td> 
		</tr>
	</table>
	<br>
	<div class="addCredits">
		<form>
			Payment Type: <input type="text" ng-model="creditTitle">
			<br>
			<br>
			Payment Ammount: <input type="text" ng-model="creditAmmount">
			<button type="submit" ng-click="addCredit()">
				Add Account Credit
			</button>
		</form>
	</div>

</div>